@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Chakra Petch", sans-serif;
  }
}
body {
  background-image: url("../public/sample1.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.about {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.exImage {
  width: 400px;
  object-fit: contain;
}

.stolen {
  position: relative;
  width: 500px;
  height: 760px;
  background: repeating-conic-gradient(
    from var(--a),
    #a855f7 0%,
    #a855f7 5%,
    transparent 5%,
    transparent 40%,
    #a855f7 50%
  );
  animation: animate 4s linear infinite;
  border-radius: 20px;
  z-index: -1;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.stolen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #6366f1 0%,
    #6366f1 5%,
    transparent 5%,
    transparent 40%,
    #6366f1 50%
  );
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
  z-index: -1;
}
.stolen::after {
  content: "";
  position: absolute;
  inset: 8px;
  background-color: #25252b;
  border-radius: 15px;
  border: 8px solid #25252b;
  z-index: -1;
  /* background: repeating-conic-gradient(from var(--a), #45f3ff 0%,
        #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 20px; */
}
/* @media (max-width: 1279) {
  
} */

.carous {
  height: 760px;
  width: 500px;
  border: 5px solid purple;
}

.carouselImage {
  width: 500px;
  height: 280px;
  margin-top: 20px;
  padding-top: 15px;
  object-fit: contain;
}

.carousel {
  padding-left: 20px;
}

.exp {
  height: max-content;
  width: 1300px;
  max-width: fit-content;
  border: 5px solid #6366f1;
  margin-bottom: 20px;
}

.rounds {
  border-radius: 80px;
  box-shadow: -9px 7px #a468dd;
}

@media (max-width: 1023px) {
  .about {
    height: 280px;
    width: 300px;
  }

  .experience {
    border-right: "3px";
    border-right-color: black;
    border-right-style: "groove";
  }

  .exImage {
    width: 200px;
    height: 300px;
    object-fit: "contain";
  }

  .exp {
    height: max-content;
    width: 900px;
    max-width: fit-content;
    border: 5px solid #6366f1;
    margin-bottom: 20px;
  }
  .rounds {
    border-radius: 10px;
    box-shadow: -9px 7px #a468dd;
  }
}
@media (max-width: 767px) {
  .about {
    height: 180px;
    width: 250px;
  }

  .exImage {
    width: 400px;
    object-fit: "contain";
  }

  .carouselImage {
    width: 350px;
    height: 240px;
    margin-top: 10px;
    margin-left: 30px;
    object-fit: contain;
  }

  .carous {
    height: 580px;
    width: 450px;
    border: 5px solid purple;
  }
  .rounds {
    border-radius: 10px;
    box-shadow: -9px 7px #a468dd;
  }
}
@media (max-width: 557px) {
  .about {
    height: 150px;
    width: 250px;
  }

  .carouselImage {
    width: 270px;
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .carous {
    height: 650px;
    width: 350px;

    border: 5px solid purple;
  }
  .exp {
    height: max-content;
    width: 400px;
    max-width: fit-content;
    border: 5px solid #6366f1;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  .rounds {
    border-radius: 10px;
    box-shadow: -9px 7px #a468dd;
  }
}
@media (max-width: 420px) {
  .about {
    height: 150px;
    width: 250px;
  }

  .carouselImage {
    width: 240px;
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .carous {
    height: 670px;
    width: 300px;
    border: 5px solid purple;
  }
  .exp {
    height: max-content;
    width: 350px;
    border: 5px solid #6366f1;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .rounds {
    border-radius: 30px;
    box-shadow: -9px 7px #a468dd;
  }
}
